<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.moon.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="upass" jdbcType="VARCHAR" property="upass" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="uage" jdbcType="INTEGER" property="uage" />
  </resultMap>
</mapper>